body{
    margin: 0;
    padding: 0;
   background: url(/tem/img/上海.jpg)
   ;
}
.container{
    margin:140px auto;
   
    width:450px ;
    height: 400px;
    border-radius: 25px;
    box-shadow: 0 0 8px black;
    /*background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%); 
    */
    /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    /*background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);*/
}

 /*修改placeholder字体样式*/
 input:-moz-placeholder,textarea:-moz-placeholder{  
    color: white;/* Mozilla Firefox 4 to 18 */
    opacity: 0.6;
 }
 input：：-moz-placeholder{  
    color: white;/* Mozilla Firefox 19+ */
    opacity: 0.6;
 }
 input:-ms-input-placeholder,textarea:-ms-input-placeholder{  
    color: white;
    opacity: 0.6;
}  
 input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{  
    color: white;
    opacity: 0.6;
    font-size: 17px;
 }
.container--userIcon{
    color: white;
    font-size:25px;
    margin-left: 88px;
    vertical-align: -15%;     /*该属性解决图标与输入框对齐问题！*/
}
.container--passwordIcon{
    color: white;
    font-size: 25px;
    margin-left: 70px;
    padding-top: 50px;
}
.container-logo{
    color: white;
    width: 120px;
    height: 50px;
    margin: 0px auto;
    padding-top: 45px;
    font-size: 40px;
}
input{
    outline:none;   /*去掉点击输入框后出现的蓝色矩形边框*/
}
.container-userInput{
    width: 190px;
    height: 32px;
    border-radius: 25px;    /*15px*/
    font-size: 14px;
    text-indent:20px;   /*控制输入框文字到框的距离*/
    letter-spacing: 2px;
    border: 2px solid white;
    BACKGROUND-COLOR: transparent;/*背景透明*/
    color: white;
    margin-top: 70px;
    margin-left: 15px;
}
.container-passwordInput{
    width: 190px;
    height: 32px;
    border-radius: 25px;
    font-size: 14px;
    text-indent:20px;   /*控制输入框文字到框的距离*/
    letter-spacing: 2px;
    border: 2px solid white;
    BACKGROUND-COLOR: transparent;/*背景透明*/
    color: white;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 150px;
}
ul{
    list-style: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 90px;
}
ul li{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
.container-loginButton{
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    margin-left:105px;
    margin-top: 17px;
    border: none;
    font-size: 22px;
    font-weight: bold;
}
.container-loginButton:hover{
    background-image: linear-gradient(to top, #92fe9d 0%, #68e0cf 100%);
    
}