 /*修改placeholder字体样式*/
 input:-moz-placeholder,textarea:-moz-placeholder{  
    color: white;/* Mozilla Firefox 4 to 18 */
    opacity: 0.6;
    font-size: 29px;
 }
 input：：-moz-placeholder{  
    color: white;/* Mozilla Firefox 19+ */
    opacity: 0.6;
    font-size: 20px;
 }
 input:-ms-input-placeholder,textarea:-ms-input-placeholder{  
    color: white;
    opacity: 0.6;
    font-size: 20px;
}  
 input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{  
    color: white;
    opacity: 0.6;
    font-size: 20px;           /*   改动   */
 }

body{
    margin: 0;
    padding: 0;
   background: url(img/上海.jpg);
}
 /*将container容器分为两部分，即两大行，一大列。*/
.container{
    margin:140px auto;
    width:450px ;
    height: 400px;
    border-radius: 25px;
    box-shadow: 0 0 8px black;
    /*注释的为可供选择的登录界面渐变色*/
    /*background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%); */
    /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
    /*background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);*/
    /*background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);*/
    /*background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);*/
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);  
    display: grid;
    grid-template-rows:110px 300px ;
    grid-template-columns: 450px;
}
/*第二行中再嵌套创建一个网格*/
.container-form{
     display: grid;
     grid-template-rows: repeat(4,72px);
     grid-template-columns: repeat(3,150px);
 }
.container-logo{
    color: white;
    width: 120px;
    height: 50px;
    font-size: 45px;
    align-self: end;
    margin-left: 77px;
}
.container-form-userIcon{
    color: white;
    font-size:33px;
    /*vertical-align: -15%;  */   /*该属性解决图标与输入框对齐问题！*/
   margin-top:35px;             /*   改动   */
    margin-left: 85px;             /*   改动   */
  
}
.container-form-passwordIcon{
    color: white;
    font-size: 33px;
    grid-area: 2/1/3/2;    /*2 1 3 2*/
    margin-top: 26px;    /*   改动   */
    margin-left: 85px;      /*   改动   */
    vertical-align:middle;
}
/*去掉点击输入框后出现的蓝色矩形边框*/
input{
    outline:none; 
}
.container-form-userInput{
    width: 190px;
    height: 32px;
    border-radius: 25px;    /*15px*/
    font-size: 20px;
    text-indent:20px;   /*控制输入框文字到框的左端距离*/
    letter-spacing: 2px;
    border: 2px solid white;
    BACKGROUND-COLOR: transparent;/*背景透明*/
    color: white;
    grid-area: 1/2/2/3;  /*1 2 2 3*/
    margin-top: 35px;    /*45*/
    margin-left: -22.5px;
     padding-top: 4px;                 /*   改动   */
}
.container-form-passwordInput{
    width: 190px;
    height: 32px;
    border-radius: 25px;
    font-size: 18px;
    text-indent:20px;   /*控制输入框文字到框的距离*/
    letter-spacing: 2px;
    border: 2px solid white;
    BACKGROUND-COLOR: transparent;/*背景透明*/
    color: white;
    grid-area: 2/2/3/3;  /*2 2 3 3*/
    margin-top: 25px;   /*30*/
    margin-left: -22.5px;
    padding-top: 4px;                  /*   改动   */
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
ul{
    list-style: none;
    color: white;
    font-size: 12px;
    grid-area: 3/1/4/4; /*3 1 4 4*/
    margin-top: 10px;
    margin-left: 83px;
}
ul li{
    display: inline;
}
.container-form-logInButton{
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    color: white;
    width: 250px;  /*250*/
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    grid-area: 4/2/5/3; /*4 2 5 3*/
    margin-top: -20px;
    margin-left: -50px;   /*-50*/
}
.container-form-logInButton:hover{
    background-image: linear-gradient(to top, #92fe9d 0%, #68e0cf 100%);
    
}
